
/dist
dist/myscrcpy-1.0.0-py3-none-any.whl
*.pyc
/.idea
/dist
/myscrcpy.egg-info
/myscrcpy/build
/myscrcpy/dist
*.spec
/myscrcpy/test_zone
/src/mysc.egg-info
/src/mysc.egg-info
/src/myscrcpy.egg-info
/src/mysc.egg-info
/src/myscrcpy.egg-info
/src/myscrcpy/test_zone
/notebooks
